* {
  box-sizing: border-box;
}

html {
  font-family: "Marcellus", serif;
  font-size: 62.5%;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  margin: 30px 0 0 0;
}

h4,
h5,
h6 {
  font-size: 2.4rem;
  margin: 30px 0 0 0;
}

a {
  color: @main-text-color;
  text-decoration: none;
}

img {
  transition: all 0.5s ease-in-out;
}

#root {
  max-width: 1368px;
  margin: 0 auto;
  padding: 30px;
}
